*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    --viewH : 100vh;
    --viewW : 100vw;
    --blue: #259CD7;
    --ratio : calc(var(--viewW)/1440);
  }
.header {
    position: relative;
    display: flex;
    background-color: #F2FBFF;
    width: 100%;
    height: calc(85*var(--ratio));
}
.logo {
    width: calc(571*var(--ratio));
    height: calc(85*var(--ratio));
    left: calc(47*var(--ratio));
    margin: calc(8*var(--ratio)) calc(47*var(--ratio)) 0px;

}
.logo img{
    float: left;
    width: calc(150.81*var(--ratio));
    height: calc(68*var(--ratio));
}
.logo p{
    float: left;
    font-style: normal;
    font-weight: 700;
    font-size: calc(25*var(--ratio));
    letter-spacing: calc(0.2*var(--ratio));
    line-height: calc(68*var(--ratio));
    color: var(--blue);
    margin: 0 0 0px;
}
.header .admin img{
    position: absolute;
    width: calc(55*var(--ratio));
    height: calc(55*var(--ratio));
    right: calc(105*var(--ratio));
    top: calc(15*var(--ratio));
}
.admin button {
  position: absolute;
  width: calc(55*var(--ratio));
  height: calc(55*var(--ratio));
  right: calc(105*var(--ratio));
  top: calc(15*var(--ratio));

  opacity: 0;
  width: calc(55*var(--ratio));
  height: calc(55*var(--ratio));
}

.main-content-container {
    position: relative;
    margin-top: calc(15*var(--ratio));
    width: calc(980*var(--ratio));
}
.add-post {
    height: calc(70*var(--ratio));
    background-color: white;
}
.add-post p{
    position: absolute;
    margin: 0 0 0px;
    top: calc(21*var(--ratio));
    left: calc(38*var(--ratio));
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: calc(32*var(--ratio));
    line-height: calc(28*var(--ratio));
    color: var(--blue);
    text-align: center;
}
.add-post button {
    position: absolute;
    width: calc(100*var(--ratio));
    height: calc(60*var(--ratio));
    right: calc(30*var(--ratio));
    top: calc(5*var(--ratio));
    box-sizing: border-box;
    border: calc(2*var(--ratio)) solid var(--blue);
    border-radius: calc(36*var(--ratio));
    background-color: #FAF9F7;
    color: var(--blue);
    display: inline-block;
    cursor: pointer;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: calc(14*var(--ratio));
    line-height: calc(18*var(--ratio));
    letter-spacing: calc(0.2*var(--ratio));
    text-align: center;
      
}

.search-events {
    position: relative;
    margin-top: calc(15*var(--ratio));
    height: calc(1175*var(--ratio));
    width: calc(980*var(--ratio));
    background-color: white;
}

.search {
  position: relative;
  max-width: calc(446*var(--ratio));
  height: calc(63*var(--ratio));
  left: calc(263*var(--ratio));
}
.search p {
    position: absolute;
    left: calc(630*var(--ratio));
    top: calc(31*var(--ratio));

    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: calc(20*var(--ratio));
    line-height: calc(20*var(--ratio));

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: calc(0.2*var(--ratio));
}
.searchbar-form-field {
    width: 100%;
    /* margin-left: calc(131*var(--ratio)); */
    font-family: 'Montserrat', sans-serif;
    font-size: calc(16*var(--ratio));
    align-items: center;
    color: #52575C;
    /* background-color: white; */
}
.searchbar-form-field input{
    font-family: 'Montserrat', sans-serif;
    font-size: calc(16*var(--ratio));
    margin-left: calc(25*var(--ratio));
}
::ng-deep .mat-form-field-appearance-standard .mat-form-field-underline {
    border: calc(1*var(--ratio)) solid var(--blue);
}

.material-icons{
    font-family: 'Material Icons' !important;
}
.check-priority {
  position: absolute;
  width: calc(73.83*var(--ratio));
  height: calc(46.14*var(--ratio));
  right: calc(16.17*var(--ratio));
  top: calc(0*var(--ratio));
}
.switch {
    position: absolute;
    width: calc(73.83*var(--ratio));
    height: calc(46.14*var(--ratio));
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    /* bottom: calc(93*var(--ratio)); */
    width: calc(73.83*var(--ratio));
    height: calc(46.14*var(--ratio));
    background-color: #E6E8EA;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: calc(36.91*var(--ratio));
    width: calc(36.91*var(--ratio));
    left: calc(4.16*var(--ratio));
    bottom: calc(4.16*var(--ratio));
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: var(--blue);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 calc(1*var(--ratio)) var(--blue);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: calc(34*var(--ratio));
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.events-container {
  position: absolute;
  float: left;
  width: calc(830*var(--ratio));
  height: calc(150*var(--ratio));
  left: calc(38*var(--ratio));
  top: 0;
  bottom: calc(150*var(--ratio));

  background: #FFFFFF;
  box-shadow: 0px calc(2*var(--ratio)) calc(10*var(--ratio)) rgba(0, 0, 0, 0.1);
  border-radius: calc(12*var(--ratio));
}
.events-container img {
  float: left;
  position: absolute;
  width: calc(83.79*var(--ratio));
  height: calc(116*var(--ratio));
  left: calc(14.79*var(--ratio));
  top: calc(17*var(--ratio));
  border-radius: calc(8*var(--ratio));
}
.events-container #event-title{
  position: absolute;
  float: left;
  width: calc(483*var(--ratio));
  left: calc(118.29*var(--ratio));
  top: calc(17*var(--ratio));
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: calc(18*var(--ratio));
  color: #040B1D;
}
.events-container #event-content{
  position: absolute;
  float: left;
  width: calc(483*var(--ratio));
  left: calc(118.29*var(--ratio));
  top: calc(57*var(--ratio));
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(16*var(--ratio));
  letter-spacing: calc(0.1*var(--ratio));
  color: #25282B;
}
.event-button {
  position: absolute;
  width: calc(208.3*var(--ratio));
  height: calc(40*var(--ratio));
  right: calc(20.7*var(--ratio));
  top: calc(55*var(--ratio));  
}
.event-button button{
  position: absolute;
  float: right;
  width: calc(59.14*var(--ratio));
  height: calc(40*var(--ratio));
  right: 0; 
  box-sizing: border-box;
  background: #FAF9F7;
  border: calc(2*var(--ratio)) solid var(--blue);
  border-radius: calc(15*var(--ratio));

  color: var(--blue);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: calc(14*var(--ratio));
  line-height: calc(18*var(--ratio));
  letter-spacing: calc(0.2*var(--ratio));
  align-items: center;
  
}
#edit {
  right: calc(73.93*var(--ratio));
}
#detail {
  right: calc(148.85*var(--ratio));
}


mat-list-item{
  height: calc(175*var(--ratio)) !important ;
}
.my-labels-container {
  position: absolute;
  width: calc(440*var(--ratio));
  height: calc(410*var(--ratio));
  right: 0;
  top: calc(100*var(--ratio));
  /* margin-left: calc(20*var(--ratio)); */
  background: #FFFFFF;
}
  .my-labels-container p {
    margin-top: calc(25*var(--ratio));
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: calc(32*var(--ratio));
    line-height: calc(24*var(--ratio));
    letter-spacing: calc(0.1*var(--ratio));
    color: #259CD7;
    text-align: center;
  }
  .my-labels {
    position: absolute;
    width: calc(360*var(--ratio));
    top: calc(80*var(--ratio));
    left: calc(40*var(--ratio));
  }
  #news, #trade, #digital, #invest, .read-later, .history{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: calc(16*var(--ratio));
    line-height: calc(24*var(--ratio));
    color: #25282B;
    display: flex;
    align-items: center;
    letter-spacing: calc(0.1*var(--ratio));
    
    margin-bottom: calc(18*var(--ratio));
    margin-left: calc(47*var(--ratio));
  }
  #news, .read-later, .history {
    color: var(--blue);
  }
  .my-labels .material-icons {
    position: absolute;
    display: flex;
    float: right;
    right: calc(47*var(--ratio));
  }
  .my-labels i {
    position: absolute;
    display: flex;
    float: right;
    right: calc(47*var(--ratio));
  }



.block-paginator{
  height: calc(60.05*var(--ratio));
  bottom: calc(6.9*var(--ratio));
  left: 0;
  right: 0;
  position: absolute;
}
.paginator{
  position: absolute;
  top: calc(0*var(--ratio));
  width: calc(850*var(--ratio));
  height: calc(60.06*var(--ratio));
  margin-left: calc(59*var(--ratio));
  margin-right: calc(27.76*var(--ratio));
}
.paginator mat-icon{
  font-family: 'Material Icons' !important;
  color: var(--blue);
  font-size: calc(25*var(--ratio));
  font-weight: 300;
}
.paginator .pag-prev{
  position: absolute;
  top: 0;
  bottom: 0;
  width: auto;
  top: 50%;
  transform: translateY(-50%);
}
.paginator .pag-next{
  position: absolute;
  top: 0;
  bottom: 0;
  right: calc(0*var(--ratio));
  width: auto;
  top: 50%;
  transform: translateY(-50%);
}
.paginator .num-page-block{
  position: relative;
  left: 0;
  right: 0;
  width: calc(338*var(--ratio));
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.num-page-block .num-page{
  width: calc(74*var(--ratio));
  height: calc(60.06*var(--ratio));
  border: var(--blue) calc(2*var(--ratio)) solid;
  border-radius: calc(24*var(--ratio));
  font-size: calc(32*var(--ratio));
  color: var(--blue);
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  text-decoration: underline var(--blue);
  font-weight: 600;
}
.num-page-block .num-page:hover{
  cursor: pointer;
  background-color: var(--grey);
}
.paginator .pag-next:hover, .paginator .pag-prev{
  cursor: pointer;
}
.footer {
  position: relative;
  display: flex;
  background-color: var(--blue);
  width: 100%;
  height: calc(100*var(--ratio));
}
.footer p {
  position: absolute;
  left: calc(508*var(--ratio));
  top: calc(41*var(--ratio));
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: calc(14*var(--ratio));
  letter-spacing: calc(0.1*var(--ratio));
  color: rgba(255, 255, 255, 0.87);
  display: flex;
  align-items: center;
  margin-bottom: 0%;
}
